body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.navbar {
  height: 75px;
  width: 100%;
  padding: 0 2em;
  background: lightslategray;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-name {
  font-size: 1.3em;
}
.nav-links {
  list-style: none;
  margin: 0;
  display: flex;
}
.link {
  padding: 1em;
}
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote {
  font-size: 3em;
  text-align: center;
}
.qualities {
  background: salmon;
  padding: 3em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.quality {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 5px 20px 0px #7d7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: .5em;
}
.footer {
  background: dimgray;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.profile-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.profile-img > img {
  width: 200px;
  position: relative;
  bottom: 18px;
}
.about-me {
  text-align: center;
}